#root {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto 80px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.main {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-area: main;
  z-index: 0;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main::-webkit-scrollbar {
  display: none;
}

body,
html {
  overflow: hidden;
}